
obj/Debug/netcoreapp3.1/LogicalCarEngine.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/LogicalCarEngine.csprojAssemblyReference.cache
.vs/LogicalCarEngine/DesignTimeBuild/.dtbcache.v2
.vs/LogicalCarEngine/v16/.suo
*.dll
